@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities{
    .content-auto {
        content-visibility: auto;
    }
    body{
        font-family:'Inter';
    }
    
}
@layer components {

    .container{
        @apply px-20
    }

    body{
        @apply w-full
    }

    #header input{
        @apply font-inter
    }

    .blueh4{
        @apply text-primary font-medium text-lg leading-[18px] mb-[10px] font-inter
    }

    .title-hero{
        @apply font-bold text-3xl lg:text-[56px] lg:leading-[66px] text-title font-inter
    }
    .title-a { /* text 36px line height 48px #0a093d*/
        @apply text-2xl font-bold lg:leading-[48px] font-inter text-title font-inter
        
        /* desktop */
        lg:text-4xl
    }
    .title-b { /* text 36px line height 36px #0a093d*/
        @apply text-2xl font-bold lg:leading-9 font-inter text-title text-center

        /* desktop */
        lg:text-4xl 
    }

    .title-c{
        @apply font-semibold text-2xl leading-[26px] text-[#2f2c4a] font-inter
    }
    .title-d{
        @apply font-semibold text-3xl leading-[52px] text-[#2f2c4a] font-inter
    }
    
    .par-a { /* text 16px line height 28px #656564 */
        @apply text-base font-normal leading-7 font-inter text-secondary font-inter
    }

    .par-b{
        @apply text-base font-normal leading-[26px] text-[#8C8C8C] font-inter
    }
    .par-c{
        @apply text-base font-normal leading-[16px] text-secondary font-inter
    }

    .btn{
        @apply 
        /* hover */
        hover:bg-blue-700 hover:text-white
    }

    /* news */
    #news{
        @apply py-[125px]
    }

    #news .container{
        @apply justify-center
    }

    #news .title{
        @apply text-center mb-[10px]
    }

    #news .title h4{
        @apply
    }

    #news .title h2{
        @apply title-b mb-8 lg:mb-[80px]
    }

    #news .card-box{
        @apply flex flex-wrap gap-6 justify-center lg:justify-between
    }

    #news .card{
        @apply flex flex-col gap-2 lg:gap-6
    }

    #news .line::before{
        /* before */
        @apply flex content-[''] inline-block w-[39px] h-[2px] bg-[url('../assets/images/logo/line.svg')] mr-[14px] mt-5 bg-cover bg-no-repeat 
    }

    #news .card h3{
        @apply
        
        /* li */
        font-semibold text-[20px] leading-8 text-[#2F2C4A] lg:mb-2 lg:mb-6 font-inter
        md:w-[260px]
    }
    #news .text a{
        @apply
        /* after */
        after:content-[''] after:inline-block after:w-[10px] after:h-[10px]  after:bg-[url('../assets/images/logo/arrowgray.svg')] after:ml-2 after:bg-cover after:bg-no-repeat
        /* flexing center */
        flex items-center

        /* span text */
        par-c
    }
    #news .text a:hover{
        @apply text-[#217BF4] after:bg-[url('../assets/images/logo/arrowblue.svg')]
    }


}